<!--==========================
  Team Section
============================-->
<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>Teachers</h3>
      <p>All teachers</p>
    </div>

    <div class="row">

    	<% @teachers.each do |teacher| %>

    		<%= link_to teacher_path(teacher) do %>

          <h4><%= teacher.name %></h4>
		              
		    <% end %>

			<% end %>

    </div>

  </div>
</section><!-- #team -->
